* {
	all: unset;
	font-family: FiraCode Nerd Font, sans-serif;
	font-size: 12px;
	border: none;
	border-radius: 0;
}

#bar {
	padding-left: 12px;
	padding-right: 12px;
}

#bar,
#bar #start,
#bar #center,
#bar #end {
	background-color: #24273a;
}

/* popups */
.popup {
	background: #363a4f;
	padding: 12px;
	border-radius: 8px;
}

.button_padding {
	padding-left: 12px;
	padding-right: 12px;
	margin: 6px 2px;
}

/* workspaces */
.workspaces .item {
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 4px;
	margin: 6px 2px;
	background: #1e2030;
}

.workspaces .item.inactive {
	color: #cad3f5;
}

.workspaces .item.inactive:hover {
	background: #363a4f;
}

.workspaces .item.focused {
	background: #f5c2e7;
	color: #24273a;
}

/* clock */
.clock {
	color: #cad3f5;
	font-weight: bold;
}

.popup-clock .calendar-clock {
	color: #cad3f5;
	font-weight: bold;
	font-size: 16px;
}

.popup-power-menu .power-btn {
	padding-left: 6px;
	padding-right: 6px;
	margin: 6px 2px;
}
