* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(24, 25, 38, 0.5);
}

button {
	border-radius: 12px;
	text-decoration-color: #a5adcb;
	color: #cad3f5;
	background-color: #24273a;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 4px;
}

button:focus,
button:active {
	border-bottom: 2px solid #f5bde6;
	outline-style: none;
	background-color: #494d64;
}

button:hover {
	background-color: #363a4f;
	outline-style: none;
	text-decoration-color: #a5adcb;
	color: #cad3f5;
}

#lock {
	background-image: image(
		url("./icons/lock.svg"),
		url("/usr/share/wlogout/icons/lock.png"),
		url("/usr/local/share/wlogout/icons/lock.png")
	);
}

#logout {
	background-image: image(
		url("./icons/logout.svg"),
		url("/usr/share/wlogout/icons/logout.png"),
		url("/usr/local/share/wlogout/icons/logout.png")
	);
}

#suspend {
	background-image: image(
		url("./icons/suspend.svg"),
		url("/usr/share/wlogout/icons/suspend.png"),
		url("/usr/local/share/wlogout/icons/suspend.png")
	);
}

#hibernate {
	background-image: image(
		url("./icons/hibernate.svg"),
		url("/usr/share/wlogout/icons/hibernate.png"),
		url("/usr/local/share/wlogout/icons/hibernate.png")
	);
}

#shutdown {
	background-image: image(
		url("./icons/shutdown.svg"),
		url("/usr/share/wlogout/icons/shutdown.png"),
		url("/usr/local/share/wlogout/icons/shutdown.png")
	);
}

#reboot {
	background-image: image(
		url("./icons/reboot.svg"),
		url("/usr/share/wlogout/icons/reboot.png"),
		url("/usr/local/share/wlogout/icons/reboot.png")
	);
}
